.animals-slider {
  padding-top: 9rem;
  background-image: url(../assets/png/palm_foto.png),
    url(../assets/png/strelitzia1.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;

  height: 119.6rem;

  position: relative;
  @media only screen and (max-width: $bp-large-2) {
    padding-top: 5rem;
    height: 112.6rem;
    background-image: url(../assets/png/palm_foto_tablet.png),
      url(../assets/png/strelitzia1_tablet.png);
  }

  @media only screen and (max-width: $bp-small) {
    background-position: bottom 0px left -50px, bottom right;
    background-size: 27%;

    height: 101.9rem;
  }

  @media only screen and (max-width: $bp-small-2) {
    height: 155.9rem;
  }

  @media only screen and (max-width: $bp-smallest-2) {
    background-position: bottom 0px left -13px, bottom -2px right -18px;
    padding-top: 3.6rem;
    height: 155.9rem;
  }

  &__container {
    position: relative;
    height: 88rem;
    overflow: hidden;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      height: 81.9rem;
    }

    @media only screen and (max-width: $bp-small-2) {
      //height: 144.2rem;
      height: 139.2rem;
    }

    @media only screen and (max-width: $bp-smallest-2) {
      height: 139.2rem;
    }
  }
  // &__cards {
  // }
  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 10rem;

    @media only screen and (max-width: $bp-largest-2) {
      padding-bottom: 14rem;
    }

    @media only screen and (max-width: $bp-largest-2) {
      padding-top: unset;
    }
    @media only screen and (max-width: $bp-small) {
      padding-top: unset;
      padding-bottom: 10rem;
    }

    @media only screen and (max-width: $bp-smallest-2) {
      padding-top: 2rem;
      padding-bottom: 6rem;
    }
  }

  &__btn--right {
    position: absolute;
    top: 41%;
    right: 14rem;
    width: 6.2rem;
    height: 6.2rem;
    @media only screen and (max-width: $bp-largest) {
      right: 7rem;
    }
    @media only screen and (max-width: $bp-largest-2) {
      right: 35.3rem;
    }
    @media only screen and (max-width: $bp-large-2) {
      top: 37%;
    }
    @media only screen and (max-width: $bp-medium) {
      right: 24.3rem;
    }

    @media only screen and (max-width: $bp-small) {
      top: 39%;
      right: 24.1rem;
    }

    @media only screen and (max-width: $bp-small-2) {
      display: none;
    }
  }
  &__btn--left {
    position: absolute;
    top: 41%;
    left: 14rem;
    width: 6.2rem;
    height: 6.2rem;

    @media only screen and (max-width: $bp-largest) {
      left: 7rem;
    }
    @media only screen and (max-width: $bp-largest-2) {
      left: 35.3rem;
    }

    @media only screen and (max-width: $bp-large-2) {
      top: 37%;
    }
    @media only screen and (max-width: $bp-medium) {
      left: 24.3rem;
    }

    @media only screen and (max-width: $bp-small) {
      top: 39%;
      left: 24.1rem;
    }
    @media only screen and (max-width: $bp-small-2) {
      display: none;
    }
  }
}

.cards {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 115.8rem;
  height: 87.2rem;
  position: absolute;
  transition: all 0.5s;
  @media only screen and (max-width: $bp-largest-2) {
    row-gap: 9.9rem;
    width: 94rem;
  }
  @media only screen and (max-width: $bp-large-2) {
    row-gap: 2.4rem;
  }
  @media only screen and (max-width: 999px) {
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    width: 60rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: max-content;
    row-gap: 9.2rem;
  }

  @media only screen and (max-width: $bp-small-2) {
    row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: $bp-smallest-2) {
    margin-left: 1.7rem;
    margin-right: 1.7rem;
  }
  &__left {
    transform: translate(-150%);
  }
  &__middle {
  }
  &__right {
    transform: translate(150%);
  }
}
.card {
  background-repeat: no-repeat;
  background-position: bottom 1.4rem right 1rem;

  border: 1px solid var(--orange-colortwo);
  border-radius: 5px;
  overflow: hidden;
  width: 36.6rem;
  height: 42.6rem;
  @media only screen and (max-width: $bp-largest-2) {
    width: 29.4rem;
    height: 35.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    width: 28.5rem;
    height: 33.2rem;
    background-position: bottom 0.8rem right 0.6rem;
    background-size: 10%;
  }

  &__shape {
    position: relative;
  }
  &--banana {
    background-image: url(../assets/png/banana-bamboo_icon.png);
  }
  &--meat {
    background-image: url(../assets/png/meet-fish_icon.png);
  }
  &__caption-1 {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    /* or 22px */
    text-transform: uppercase;
    margin-top: 0.3rem;
    margin-left: 1.4rem;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.24695rem;
      margin-top: 0.5rem;
      margin-left: 1.1rem;
    }
  }
  &__caption-2 {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 1.4rem;
    margin-left: 1.4rem;
    margin-top: -0.2rem;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.16901rem;
      margin-left: 1.2rem;
    }
  }

  &__img {
    transition: all 0.5s;
    width: 100%;
    @media only screen and (max-width: $bp-largest-2) {
      max-width: 100%;
    }
  }

  &:hover {
    background: #000000d6;
  }

  &:hover &__img {
    filter: brightness(40%);
    transform: scale(1.03);
  }

  &:hover &__caption-1 {
    font-size: 4rem;
    transform: translateY(-16rem);
    color: var(--orange-colortwo);
    position: absolute;

    @media only screen and (max-width: $bp-largest-2) {
      font-size: 3rem;
    }
  }

  &:hover &__caption-2 {
    font-size: 2rem;
    transform: translate(2rem, 2rem);
    color: var(--orange-color);
    position: absolute;
    @media only screen and (max-width: $bp-large) {
      transform: translate(0, 2rem);
    }

    @media only screen and (max-width: $bp-small) {
      transform: translate(0, 1rem);
    }
  }
}
