.animals-slider {
  padding-top: 9rem;
  background-image: url(../assets/png/palm_foto.png),
    url(../assets/png/strelitzia1.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 2rem;
    position: relative;
  }
  &__btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 10rem;
  }

  &__btn--right {
    position: absolute;
    top: 46%;
    right: -8rem;
  }
  &__btn--left {
    position: absolute;
    top: 46%;
    left: -8.3rem;
  }
}

.cards {
}
.card {
  background-repeat: no-repeat;
  background-position: bottom 1.4rem right 1rem;

  border: 1px solid var(--orange-colortwo);
  border-radius: 5px;
  overflow: hidden;
  max-width: 36.6rem;
  max-height: 42.6rem;
  &__shape {
    position: relative;
  }
  &--banana {
    background-image: url(../assets/png/banana-bamboo_icon.png);
  }
  &--meat {
    background-image: url(../assets/png/meet-fish_icon.png);
  }
  &__caption-1 {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    /* or 22px */
    text-transform: uppercase;
    margin-top: 0.3rem;
    margin-left: 1.4rem;

    transition: all 0.5s;
  }
  &__caption-2 {
    font-family: var(--font-base);
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    margin-bottom: 1.4rem;
    margin-left: 1.4rem;
    margin-top: -0.2rem;
    transition: all 0.5s;
  }

  &__img {
    transition: all 0.5s;
  }

  &:hover {
    background: #000000d6;
  }

  &:hover &__img {
    filter: brightness(40%);
    transform: scale(1.03);
  }

  &:hover &__caption-1 {
    font-size: 4rem;
    transform: translateY(-16rem);
    color: var(--orange-colortwo);
    position: absolute;
  }

  &:hover &__caption-2 {
    font-size: 2rem;
    transform: translate(2rem, 2rem);
    color: var(--orange-color);
    position: absolute;
  }
}
