.backstage {
  background-image: url("../assets/png/flower_foto1.png");
  background-repeat: no-repeat;
  background-position: top 1.2rem right;
  padding-top: 14rem;
  padding-bottom: 9rem;
  @media only screen and (max-width: $bp-largest) {
    background: var(--white-color);
  }
  @media only screen and (max-width: $bp-large) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media only screen and (max-width: $bp-large-2) {
    padding-top: 11rem;
  }

  &__content {
    display: flex;
    gap: 8.7rem;

    @media only screen and (max-width: $bp-large-2) {
      margin-top: -1rem;
      gap: 3.1rem;
    }
  }
  &__img {
    width: 60.9rem;
    height: 40.3rem;
    @media only screen and (max-width: $bp-large) {
      width: 45.5rem;
      height: 40.8rem;
      object-fit: cover;
    }

    @media only screen and (max-width: $bp-large-2) {
      margin-top: 1rem;
    }
  }

  &__text {
    max-width: 46.5rem;
  }
  &__heading {
  }
  &__par {
    margin-top: 2rem;
  }
  &__subtitle {
    display: inline-block;
    margin-top: 5.4rem;
  }
  &__body-text {
    margin-top: 3.4rem;
  }
}
