.favorite {
  background: url(../assets/jpg/GiantPanda.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: bottom;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    margin-right: 23rem;
    margin-top: 8.5rem;
    margin-bottom: 10rem;
    &::before {
      position: absolute;
      content: "";
      top: -7.4rem;
      right: 10rem;
      width: 46.5rem;
      height: 46.5rem;
      background: var(--orange-gradient);
      border-radius: 100rem;
    }
  }
  &__heading {
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 700;
    font-size: 10.6rem;
    line-height: 75%;

    /* or 80px */
    text-align: center;
    text-transform: uppercase;
    z-index: 5;
    color: #ffffff;
    &--yellow {
      color: yellow;
    }
  }
  &__btn-box {
    margin-top: 6.2rem;
    margin-left: 1.3rem;
  }
}
