.panda {
  width: 100%;
  height: 38.6rem;
  background: url(../assets/jpg/GiantPanda.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  //background-position: bottom;
  background-size: cover;
  background-position: top -20rem left;
}
