.burger-icon {
  &__box {
    display: none;
    width: 1.8rem;
    height: 1rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium-2) {
      display: block;
    }
  }
  width: 1.8rem;
  height: 2px;
  position: relative;
  border-radius: 10rem;
  display: inline-block;
  background-color: var(--white-color);

  &::after {
    content: "";
    position: absolute;
    top: 0.4rem;
    border-radius: 10rem;
    width: 1.8rem;
    height: 2px;
    background-color: var(--white-color);
  }
  &::before {
    content: "";
    position: absolute;
    top: -0.4rem;
    width: 1.8rem;
    border-radius: 10rem;
    width: 1.8rem;
    height: 2px;
    background-color: var(--white-color);
  }
}
