.progress-bar {
  max-width: 97.6rem;
  height: 2.7rem;
  background: var(--bar-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  //padding: 0 3rem;
  gap: 90px;
  margin-top: 1.7rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 81rem;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: 56rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-top: 0.7rem;
    max-width: 100%;
  }

  @media only screen and (max-width: $bp-small-2) {
    height: 1.35rem;
    max-width: 40rem;
    gap: 6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    max-width: 30rem;
    gap: 4rem;
  }

  @media only screen and (max-width: $bp-smallest-2) {
    margin-top: 1rem;
    padding: 0 1.75rem 0 1.75rem;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--bar-line-color);
    width: 94%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $bp-large) {
      width: 96%;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 94%;
    }
    @media only screen and (max-width: $bp-small) {
      width: 88%;
    }

    @media only screen and (max-width: $bp-small-2) {
      width: 93%;
    }
    @media only screen and (max-width: $bp-smallest-2) {
      width: 87%;
    }
  }
  &__heading {
    margin-left: 0.4rem;
    margin-top: 4.8rem;

    @media only screen and (max-width: $bp-large) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-left: unset;
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      text-align: left;
      margin-top: 4.1rem;
      margin-left: 1rem;
    }

    @media only screen and (max-width: $bp-small-2) {
      text-align: center;
    }

    @media only screen and (max-width: $bp-smallest-2) {
      margin-top: unset;
      margin-left: unset;
    }
  }
  &__step {
    width: 4rem;
    height: 4rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;

    @media only screen and (max-width: $bp-large) {
      &:nth-child(1) {
        display: none;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__input {
    display: none;
  }

  &__input:checked ~ .progress-bar__label .progress-bar__point::after {
    opacity: 1;
  }
  &__input:checked ~ .progress-bar__label .progress-bar__point::before {
    opacity: 1;
  }
  &__input:checked ~ .progress-bar__label .progress-bar__img {
    fill: var(--orange-colortwo);
  }
  &__input:checked ~ .progress-bar__label .progress-bar__number--text {
    color: var(--orange-colortwo);
  }

  &__label {
    position: relative;
    cursor: pointer;
  }

  &__point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background: var(--yellow-color);
    border-radius: 10rem;
    display: block;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2.3rem;
      height: 2.3rem;
      background: transparent;
      border: 2px solid var(--orange-colortwo);
      border-radius: 100px;
      opacity: 0;
      @media only screen and (max-width: $bp-small-2) {
        width: 1rem;
        height: 1rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4rem;
      height: 4rem;
      background: transparent;
      border: 2px solid var(--orange-colortwo);
      border-radius: 100px;
      opacity: 0;
      @media only screen and (max-width: $bp-small-2) {
        width: 2rem;
        height: 2rem;
      }
    }

    @media only screen and (max-width: $bp-small-2) {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  &__img {
    width: 1rem;
    height: 2rem;
    fill: var(--blackblue-color);

    @media only screen and (max-width: $bp-small-2) {
      width: 0.5rem;
      height: 1rem;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    margin-top: 8rem;

    @media only screen and (max-width: $bp-small-2) {
      margin-top: 4rem;
    }
  }
}
