.header {
  height: 8rem;
  margin: 0 auto;
  background: var(--black-color);

  display: flex;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 8.2rem;
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/png/bamboo.png);

    background-repeat: no-repeat;
    background-position: bottom 0.7rem left 1rem;
  }
  &__navigation {
    width: 101.5rem;
    margin-left: 6.3rem;
    &__list {
      gap: 5.8rem;
    }
  }
  &__item-grow {
    flex: 1;
  }
}
.navigation__list.header__navigation__list:nth-child(3) {
  flex: 1;
}
