.container {
  max-width: 116.1rem;
  margin: 0 auto;
}
.heading-1 {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 400;
  font-size: 1.90145rem;
  line-height: 120%;
  /* or 23px */
  text-align: center;
  color: var(--white-color);
  border: 1.18841px solid var(--white-color);

  
}

.heading-2 {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 120%;
  /* identical to box height, or 58px */
}

.heading-3 {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 130%;
  /* identical to box height, or 47px */
}

.subtitle {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 120%;
  /* identical to box height, or 29px */
}

.btn-text {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  /* or 22px */
  text-transform: uppercase;
}

.body-text {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  /* or 22px */
  &--link {
    font-family: var(--font-base);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    /* or 22px */
  }
  &--backstage {
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    /* or 21px */
    color: var(--blackblue-color);
  }
  &--feed {
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    /* identical to box height, or 21px */
    color: var(--blackblue-color);
  }
  &--user {
    font-family: var(--font-base);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;

    /* or 19px */
  }
}

.small-paragraph {
  font-family: var(--font-base);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  /* identical to box height, or 18px */
}

.text-underline {
  border-bottom: 1px solid var(--orange-colortwo);
}

.copyright-text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;

  /* identical to box height, or 21px */

  color: #ffffff;

  &-1 {
    margin-bottom: 1rem;
  }
}

.number-text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-black);
}

.money-text {
  font-family: var(--font-base);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */

  text-transform: uppercase;

  color: #333b41;
}
