:root {
  --black-color: #000000;
  --green-color: #4b9200;
  --white-color: #ffffff;
  --orange-color: #e47209;
  --orange-colortwo: #fe9013;
  --orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --yellow-color: #ffee2e;
  --pink-color: #eaf7fe;
  --blackblue-color: #333b41;
  --gray-color: #767474;
  --graysmoky-color: #ababab;
  --graylight-color: #f1f3f2;
  --graylight-colorthree: #f5f7f6;
  --gray-colortwo: #828282;
  --gray-colorthree: #bdbdbd;
  --red-color: #d31414;
  --whiteglass-color: rgba(253, 253, 255, 0.52);
  --whiteglass-border: 1px solid #c4c4c4;
  --orange-gradienttwo: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --pink-gradient: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --bar-color: #404950;
  --bar-line-color: #72828e;
  --input-color: #929699;
  //fonts:
  --font-base: "Roboto", sans-serif;
}
